*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --principal-color: #a7a1c8;
    --secondary-color: #4b417b;
    --hard-color:#2c1e74;
}
html{
    font-family: "Baloo 2", cursive;
    line-height: 10px;
    background:linear-gradient(to top,  #9a91c4, #141414 80%)

}

.principal-nav p{
    color: white;
}
.principal-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black
}

.principal-nav .nav-logo--container img{
    width: 70px;
    height: 40px;
    margin-left: 10px;
}

.principal-nav .nav-search{
    width: 195px;
    height: 30px;
    margin: 0px 10px;
    border: 1px solid var(--principal-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.principal-nav .nav-search:hover{
   border: 2px solid var(--secondary-color);

}
.principal-nav .nav-search input{
    background-color:black;
    border:none;
    width: 1Z5px;
    height: 24px;
    margin: 0px 10px;
    outline: none; /*quitarle el estilo al seleccionar el input*/
}

.principal-nav .nav-search img{
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: var(--principal-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.section-movie-description{
    position: relative;
    
}
.section-movie-description button{
    position: absolute;
    top: 95px;
    left: 140px;
    width: 35px;
    height: 35px;
    margin: 5px 15px;
    padding-left: 3px;
    background:linear-gradient(to right, var(--hard-color), var(--principal-color));
    border-radius: 50%;
    border: none;
    color:white;
    cursor: pointer;
}
.principal-main-section{
    width: 100%;
    height: 250px;
    background-image: url(/poster.png);
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0.75;
}

.principal-main-section .section-movie-description{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    color: white;
    margin: 0px 10px;
}

.principal-main-section .section-movie-description p{
    width: 70%;
    font-size: 12px;
    text-align: justify;
    margin: 10px 0px 0px 0px;
}
.principal-main-section .main-section--buttons-container .play-button{
    width: 35px;
    height: 35px;
    margin: 5px 15px;
    padding-left: 3px;
    background:linear-gradient(to right, var(--hard-color), var(--principal-color));
    border-radius: 50%;
    border: none;
    color:white;
    cursor: pointer;
}
.principal-main-section .main-section--buttons-container .play-button:hover{
    background: #12004d;
}
.principal-main-section .main-section--buttons-container .favorites-button{
    width: 80px;
    height: 25px;
    border-radius: 15px;
    background:linear-gradient(to bottom, var(--hard-color), var(--principal-color) );
    color:white;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 3px;
    font-family: "Baloo 2", cursive;
    cursor: pointer;
}
.title-section{
    display: flex;
    justify-content: space-between;
}
.title-section button{
    width: 80px;
    height: 28px;
    font-weight: bold;
    margin:  10px 10px 10px 10px;
    border:  2px solid #12004d;
    border-radius: 7px;
    box-shadow: #1b172b 2px 2px;
    background-color: #32303b;
    color: white;
    cursor: pointer;
}
.trend-section-container h3{
    margin: 20px 10px 10px 10px;
    color:white;
}
.trend-container-figures{
    display: flex;
    overflow-x: scroll;

}
.trend-container-figures .figure-container--movie-list{
    display: grid;
    justify-items: center;
    
    margin: 10px 5px;
}
.trend-container-figures .figure-container--movie-list .description-movie{
    display: grid;
    grid-template-columns: 1fr;
    
}
.trend-container-figures .figure-container--movie-list img{
    height: 170px;
    border-radius: 5px;
}


.figure-container--movie-list p{
    color: white;
    margin-top: 10px;
}


.nav-section-movies{
    display: none;
}
