*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --principal-color: #705edb;
    --secondary-color: #b1a9d5;
    --hard-color:#2f2465;
    --buttons-color: #613dd8;

}
html{
    font-family: "Baloo 2", cursive;
    line-height: 20px;
    background-color: #161616;
}

img{
    cursor: pointer;
}


/*Loading Skeletons*/

.loading{
    height: 170px;
    border-radius: 5px;
    margin: 5px;
    border-radius: 10px;
    width: 113px;
    background-color: rgb(60, 60, 60);
}
.loadingButtons{
    width: 55px;
    height: 25px;
    padding: 3px 10px 5px 10px;
    background-color: rgb(60, 60, 60);
    margin: 5px 10px;
    border-radius: 5px;
}
.trend-container-figures::-webkit-scrollbar{
    display: none;
}
.imgMovie{
    background-color: rgb(60, 60, 60);
}
.imgMovie:hover{
    border: 2px solid var(--buttons-color)
}
.principal-main-section{
    background-color: rgb(60, 60, 60);
}

/* HEADER*/

.principal-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:  #161616;
    width: 100%;
    z-index: 1;
}
.principal-nav p{
    color: white;
}
.principal-nav .nav-logo--container img{
    width: 70px;
    height: 40px;
    margin-left: 10px;
}
.principal-nav .nav-search{
    width: auto;
    height: 32px;
    margin: 0px 10px;
    border: 1px solid var(--principal-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    border-right: none;
}
.principal-nav .nav-search:hover{
    border: 2px solid var(--secondary-color);
    /* width: 211px; */
    height: 35px;
 }
.principal-nav .nav-search input{
    background-color: #161616;
    /* border:none; */
    width: 175px;
    height: 30px;
    /* margin: 0px 10px; */
    color: white;
    outline: none; /*quitarle el estilo al seleccionar el input*/
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-left:15px;
    border: none;
}

.principal-nav .nav-search button{
    width: 35px;
    height: 31px;
    padding: 7px 5px;
    border: none;
    background-color: var(--principal-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.principal-nav .nav-search button:hover{
    background: var(--secondary-color);
}
.principal-nav .nav-search button img{
    width: 100%;
    height: 100%;
}


/* HOME SECTION*/

.principal-main-section{
    width: 100%;
    height: 250px;
    background-image:linear-gradient(to top, #111111 20%, transparent 95%), url(https://i.ibb.co/T1JwtqX/rapidos-y-furiosos-jpg-1894821134.webp) ;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.principal-main-section .section-movie-description{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    color: white;
    margin: 0px 10px;
}

.principal-main-section .section-movie-description p{
    width: 70%;
    font-size: 12px;
    text-align: justify;
    margin: 5px 0px 0px 0px;
    line-height: 11px;
}
.principal-main-section .main-section--buttons-container .play-button{
    width: 35px;
    height: 35px;
    margin: 5px 15px;
    padding-left: 3px;
    background:var(--buttons-color);
    border-radius: 50%;
    border: none;
    color:white;
}
.principal-main-section .main-section--buttons-container button:hover{
    background-color: var(--hard-color);
    /* background: var(--principal-color); */
    cursor: pointer;
    border: 1px solid white
}
.principal-main-section .main-section--buttons-container .favorites-button{
    width: 40px;
    height: 25px;
    border-radius: 10px;
    background:var(--buttons-color);
    color:white;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 3px;
    font-family: "Baloo 2", cursive;
}
.title-section{
    display: flex;
    justify-content: space-between;
}
.title-section button{
    width: 80px;
    height: 28px;
    font-weight: 500;
    margin:  10px 10px 10px 10px;
    border-radius: 7px;
    box-shadow: #1d074e 3px 3px;
    background-color: var(--buttons-color);
    color: white;
    cursor: pointer;
    border: none;
}
.title-section button:hover{
    border:  1px solid white;
    background-color: var(--hard-color);
}
#trend-section-container h3{
    margin: 20px 10px 10px 10px;
    color:white;
    font-size: 300;
}
.trend-container-figures{
    display: flex;
    overflow-x: scroll;
}
.trend-container-figures .figure-container--movie-list{
    display: grid;
    position: relative
}
.btnMovie{
    position: absolute;
    top:10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(185, 183, 222);
    border: none;
    box-shadow: 2px 2px rgb(30, 30, 30);
}
.btnMovie::before{
    content: "🤍";
}
.btnMovie--liked{
    background-color: var(--buttons-color);
}
.btnMovie--liked::before{
    content:"💜";
}
.nuevo-contenedor{
    position: relative;
}
.trend-container-figures .figure-container--movie-list .description-movie{
    display: grid;
    grid-template-columns: 1fr;   
}
.trend-container-figures .figure-container--movie-list img{
    height: 170px;
    border-radius: 10px;
    margin: 5px;
    width: 113px;
}
.trend-container-figures .figure-container--movie-list .description-movie p{
    color: white;
    line-height: 15px;
    font-weight: 300;
    margin-bottom: 5px;
    padding:0px 5px 0px 7px;
}
.trend-container-figures .figure-container--movie-list .description-movie .rate{
    color: #a7a1c8;
    font-weight: 500;
}
.categories-section .categories-section--list{
    display: flex;
    flex-wrap: wrap;
}
.categories-section h3{
    color:white;
    margin:20px 10px 10px 10px;
}
 .boton {
    font-size: 13px;
    width: auto;
    height: 30px;
    padding: 3px 10px 5px 10px;
    border-radius: 0.6em;
    font-family: inherit;
    color: rgb(255, 255, 255);
    margin:5px 5px;
    cursor:pointer;
    border: 1px solid white;
    background-color: var(--buttons-color);
}  
 .boton:hover {
    background-color: var(--hard-color);
    border: 2px solid var(--secondary-color);
}
.fa-solid{
    color: white;
    padding-right: 3px;
}

/*MOVIE DESCRIPTION SECTION*/

.movieSection{
    width: 100%;
    height: 570px;
    background: rgb(60, 60, 60);
    background-size:100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    top:40px;
}
 .flecha img{
    width: 35px;
    height: 30px;
    padding:3px 0px 0px 0px
}
 .flecha{
    margin: 20px 15px;
    background-color: var(--principal-color);
    border-radius: 40%;
    border: none;
    cursor: pointer;
}
 .flecha:hover{
    background-color: var(--secondary-color)
}
.movieSection-MoviesContainer{
    margin-top: 425px;
    color: black;
    background-color: #a7a1c8;
    z-index: 1;
    position: absolute;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
}
.movieSection-MoviesContainer .movieSection-MoviesContainer--titleMovie{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
.movieSection-MoviesContainer h2{
    width: 60%;
}
.movieSection-MoviesContainer p{
    width: 90%;
    margin: 0px auto;
    text-align: justify;
}
.categories-section__movieDescription{
    margin: 15px 5%;
}
.similarSection{
    display: flex;
    margin: 15px 10px;
    overflow-x: scroll;
}
.similares{
    margin: 0px 15px -10px 15px;
}
.similarSection::-webkit-scrollbar{
    display: none;
}
.figure-container--movie-list::-webkit-scrollbar{
    display: none;
}
.listsSimilars{
    display: flex;
    overflow-x: scroll;
}
.listsSimilars img{
    height: 170px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
}



/*   CATEGORY SECTION   */

.category-section h2{
    color: white;
    margin: 15px;
}
.category-section .Fizquierda{
    margin: 30px 15px 
}
.previewCategories_container{
    display: flex;
 
    flex-wrap: wrap;
    justify-content: center;
}
.category-section h3{
    color: white;
    margin: 40px 15px 0px 15px;
}
 .imagen{
    height: 170px;
    width: 113px;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    background-color: rgb(60, 60, 60);
}
.imagen:hover{
    border: 2px solid var(--buttons-color);
}
.container1{
    flex-wrap: wrap;
}

/*      Footer      */

hr{
    width: 70%;
    color: white;
    border: 1px solid #111111;
    margin: 15px auto;
}
.footer{
    display: flex;
    flex-direction: column;
}
.footer #language-container{
    width: 100px;
    height: 30px;
    background-color: var(--buttons-color);
    color: white;
    align-self: end;
    margin: 15px;
    border-radius: 3px;
}
.footer section p{
    color: white;
    text-align: center;
    margin: 10px 0px;
    color: var(--principal-color);
}

/* INACTIVE DISPLAY*/

.inactive{
     display: none
}

.fixed{
    position: fixed;
    height: 45px;
}




/*          RESPONSIVE DESIGN     */

@media  (min-width: 630px) {
   .principal-nav .nav-search input{
       width: 230px
   }
   .principal-main-section{
       height: 370px;
   }
   .trend-container-figures{
       margin-left:10px;
   }
   .trend-container-figures .figure-container--movie-list img{
       height: 205px;
       width: 130px;
       border-radius: 7px;
   }
   .imagen{
    height: 205px;
    width: 130px;
    border-radius: 7px;
   }
   .listsSimilars img{
    height: 205px;
    width: 130px;
    border-radius: 7px;
   }
   .categories-section{
       margin:0px 10px;
   }
   .movieSection{
       background-size: 100% 130%;
   }
   .movieSection-MoviesContainer{
       margin-top: 485px;
   }
}

@media  (min-width: 900px){
    .principal-main-section{
        height: 400px;
        background-size: 100% 110%;
    }
    
    .boton{
        height: 35px;
        font-size: 1.1rem;
    } 
    .principal-main-section .section-movie-description p{
        font-size: 1.2rem;
        line-height: 20px;
    }
    .movieSection {
        background-size: 100% 150%;
    }
    .categories-section {
        margin: 0px 100px;
    }
    .previewCategories_container {
        margin: 0px 80px;
    }
}

@media  (min-width: 1024px){
    .principal-main-section{
        height: 520px;
        background-size: 100% 100%;
    }
    .principal-main-section .main-section--buttons-container .play-button{
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
    }
    .principal-main-section .main-section--buttons-container .favorites-button{
        width: 50px;
        height: 35px;
        font-size: 0.9rem;
    }
    .categories-section .categories-section--list{
        margin:5px 25px; 
    }
    .principal-main-section .section-movie-description p{
        font-size: 1.2rem;
        line-height: 18px;
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .trend-container-figures .figure-container--movie-list img{
        height: 235px;
        width: 160px;
        border-radius: 9px;
    }
    .imagen{
     height: 235px;
     width: 160px;
     border-radius: 9px;
    }
    .listsSimilars img{
     height: 235px;
     width: 160px;
     border-radius: 9px;
    }
    #trend-section-container{
        margin-left: 20px;
    }
    .categories-section h3 {
        margin: 30px 10px 25px -110px;
    }
    .categories-section{
        margin:0px 150px;
    }
    .trend-section{
        margin-bottom: 30px;
    }
    .principal-nav{
        height: 50px;
        justify-content: space-between;
    }
    .principal-nav .nav-logo--container img{
        margin-left: 35px;
    }
    .principal-nav .nav-search{
        margin-right: 120px;
    }
    .principal-nav .nav-search input{
        width: 380px;
    }
    .principal-nav .nav-search button{
        width: 50px;
    }
    .title-section button{
        margin-right: 40px;
    }
    .movieSection {
        background-size: 100% 120%;
    }
    .movieSection-MoviesContainer {
        margin-top: 550px;
    }
    .similarSection{
        margin: 10px 5px 10px 30px;
    }
    .flecha {
        margin-top: 40px;
    }
    .previewCategories_container {
        margin: 0px 130px;
    }
    .category-section h2{
        margin-left: 10.5%;
    }
    .category-section h3{
        margin-left: 10.5%;
    }
    .similares {
        margin: 40px 15px 10px 35px;
    }
}